<div class="row">
    <div class="col-lg-3"></div>
    <!-- Form Start -->
    <div class="col-lg-6 form-style-1">
        <h3>Teacher Sign Up</h3>
        <div class="tech-auth container">
            <form class="form-style-2">
                <input type="text" placeholder="Enter Your Name"/>
                <input type="email" placeholder="Email">
                <input type="password" placeholder="password">
                <button>SignUp</button>
            </form>
        </div>
        <p><a href="#">Already have Account?</a></p>
    </div>
    <!-- Form End -->
    <div class="col-lg-3"></div>
</div>