<div class="d-flex flex-column flex-shrink-0 p-3 bg-light tuter-sidebar">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="teacher-dashboard" class="nav-link active" aria-current="page">
        <svg class="bi me-2" width="16" height="16"></svg>
        Home
      </a>
    </li>
    <!--Start Courses-subject -->
    <li>
      <a
        class="nav-link link-dark"
     
        data-bs-toggle="collapse"
        data-bs-target="#Courses-collapse"
        aria-expanded="true"
        aria-current="page"
      >
        <svg class="bi me-2" width="16" height="16"></svg>
        Courses
      </a>
      <div class="collapse tut-drop-sec" id="Courses-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a routerLink="teacher-courses" class="nav-link link-dark rounded text-right">View Courses</a></li>
        </ul>
      </div>
    </li>
    <!-- End Courses-subject -->
    <!--Start Assignments -->
    <li>
      <a
        class="nav-link link-dark"
        data-bs-toggle="collapse"
        data-bs-target="#Assignments-collapse"
        aria-expanded="true"
        aria-current="page"
      >
        <svg class="bi me-2" width="16" height="16"></svg>
        Assignments
      </a>
      <div class="collapse tut-drop-sec" id="Assignments-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a routerLink="teacher-assignments" class="nav-link link-dark rounded text-right">View Assignments</a></li>
        </ul>
      </div>
    </li>
    <!-- End Assignments -->
     <!--Start Study Materials -->
     <li>
      <a
        class="nav-link link-dark"
        data-bs-toggle="collapse"
        data-bs-target="#StudyMaterials-collapse"
        aria-expanded="true"
        aria-current="page"
      >
        <svg class="bi me-2" width="16" height="16"></svg>
        Study Materials
      </a>
      <div class="collapse tut-drop-sec" id="StudyMaterials-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a routerLink="teacher-study-materials" class="nav-link link-dark rounded text-right">View Study Materials</a></li>
        </ul>
      </div>
    </li>
    <!-- End Assignments -->
    <!--Start Announcements -->
    <li>
      <a
        class="nav-link link-dark"
        data-bs-toggle="collapse"
        data-bs-target="#Announcements-collapse"
        aria-expanded="true"
        aria-current="page"
      >
        <svg class="bi me-2" width="16" height="16"></svg>
        Announcements/News
      </a>
      <div class="collapse tut-drop-sec" id="Announcements-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a routerLink="teacher-news" class="nav-link link-dark rounded text-right">View Announcements</a></li>
        </ul>
      </div>
    </li>
    <!-- End Assignments -->
      <!--Start Contacts -->
      <li>
        <a
          class="nav-link link-dark"
          data-bs-toggle="collapse"
          data-bs-target="#Contacts-collapse"
          aria-expanded="true"
          aria-current="page"
        >
          <svg class="bi me-2" width="16" height="16"></svg>
          Contacts
        </a>
        <div class="collapse tut-drop-sec" id="Contacts-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a routerLink="teacher-contacts" class="nav-link link-dark rounded text-right">View Contacts</a></li>
          </ul>
        </div>
      </li>
      <!-- End Contacts -->
        <!--Start About us -->
        <li>
          <a
            class="nav-link link-dark"
            data-bs-toggle="collapse"
            data-bs-target="#Aboutus-collapse"
            aria-expanded="true"
            aria-current="page"
          >
            <svg class="bi me-2" width="16" height="16"></svg>
            About us
          </a>
          <div class="collapse tut-drop-sec" id="Aboutus-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a routerLink="teacher-about-us" class="nav-link link-dark rounded text-right">View About us</a></li>
            </ul>
          </div>
        </li>
        <!-- End About us -->
  
  </ul>
  <hr />
  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
      id="dropdownUser2"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="../../../assets/profile.avif"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2"
      />
      <strong>John</strong>
    </a>
    <ul
      class="dropdown-menu text-small shadow"
      aria-labelledby="dropdownUser2"
      style=""
    >
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</div>
