<nav class="nav container">
    <h1><a routerLink="">TUTE</a></h1>
    <div *ngIf="menuType==='default'" class="nav-search"> 
        <input type="text" placeholder="Search for product">
        <button>Search</button>
    </div>
<div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
        <li><a routerLink="/teacher/auth">Teacher</a></li>
        <li><a href="#">Seller</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Cart(0)</a></li>
    </ul>
    <ul *ngSwitchCase="'teacher'">
        <li><a href="#">Teachers List</a></li>
        <li><a href="#">Students List</a></li>
        <li><button (click)="tuterLogOut()">LogOut</button></li>
        <li><a href="#">Papers</a></li>
        <li><a href="#">{{tuterName | titlecase}}</a></li>
    </ul>
</div>
</nav>