.nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #f4f3ef;
    background-color: #f4f3ef;
    margin-bottom: 0px;
    padding: 10px;
    height: 80px fit-content !important;
}

.edu-dash-logo {
    width: 6rem;
    height: 3rem;
    margin: 0px 0px 0px 40px;
}



.nav ul{
    display: flex;
    list-style-type: none;
    margin: 0px 50px 0px 0px;
    padding: 0px 20px;
}
.nav li {
    padding-top: 15px;
    padding-left: 30px;
}
/* .nav li a {
    text-decoration: none;
    color: blueviolet;
    font-weight: bold;
} */
.tutur-nav-search {
    margin-top: -10px;
    flex: 1;
    display: flex;
}

.tutur-nav-search input {
    flex: 1;
    color: #000;
    border: none;
    height: 35px;
    border-radius: 7px 0px 0px 7px;
    background-color: #ffffff;
    outline: none;
}
.tutur-nav-search button {
    color: #000;
    border: none;
    height: 35px;
    margin-top: 0px;
    border-radius: 0px 7px 7px 0px;
    background-color: #ffffff;
}

.tuter-to-std-page {
   margin-top: -5px;
}

.tuter-to-std-page a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    border: 1px solid #ffffff;
    border-radius: 7px;
    padding: 5px 10px;
    background-color: #ffffff;
}
.tuter-notification {
    margin-top: -3px;
}

.tuter-profile-pic {
    /* margin-top: -5px; */
    margin: -5px;
    cursor: pointer;
}

.tuter-profile-pic a img {
    width: 20px;
    height: 20px;
    margin: 0px 10px;
}

.tuter-profile-pic a {
    color: #000;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
}



